.footer-wrapper {
  border-top: 1px solid #f2ede7;
  padding: 35px 0; }

.footer-container {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  text-align: center; }

.footer-designer {
  display: flex;
  justify-content: center; }

.footer-title {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; }

.footer-copyright {
  color: #9f9f9f;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin-top: 10px;
  line-height: 36px; }

.footer-designer {
  color: #9f9f9f;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px; }

.footer-designer span {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 600; }

@media (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 1145px; }
  .footer-designer {
    display: flex;
    align-self: flex-end; } }
